app/.env
.env
venv/
env/


__pycahe__/
__init__.py
.ipynb_checkpoints/

db/__pycache__/
db/__init__.py

producers/__pycache__/
producers/__init__.py

pydentics/__init__.py
pydentics/__pycache__/

requettes_simulations/
requettes_simulations/__pycache__/
requettes_simulations/__init__.py
requettes_simulations/results/




app/__pycahe__/
app/__init__.py
app/.ipynb_checkpoints/

app/db/__pycache__/
app/db/__init__.py

app/producers/__pycache__/
app/producers/__init__.py

app/pydentics/__init__.py
app/pydentics/__pycache__/

app/requettes_simulations/
app/requettes_simulations/__pycache__/
app/requettes_simulations/__init__.py
app/requettes_simulations/results/

