app/.env
.env
venv/
env/


__pycahe__/
__init__.py
.ipynb_checkpoints/

db/__pycache__/
db/__init__.py

producers/__pycache__/
producers/__init__.py

pydentics/__init__.py
pydentics/__pycache__/

test_requests/
test_requests/__pycache__/
test_requests/__init__.py
test_requests/results/

worker/__pycahe__/
worker/__init__.py
worker/feed/__pycache__/
worker/feed/__init__.py
worker/calcul/__pycache__/
worker/calcul/__init__.py




app/__pycahe__/
app/__init__.py
app/.ipynb_checkpoints/

app/db/__pycache__/
app/db/__init__.py

app/producers/__pycache__/
app/producers/__init__.py

app/pydentics/__init__.py
app/pydentics/__pycache__/

app/test_requests/
app/test_requests/__pycache__/
app/test_requests/__init__.py
app/test_requests/results/

